.hero {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/956/988/935/fantasy-art-digital-art-pixelated-artwork-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

/* Additional styles for entity list */
h3 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
}
