/* Header.css */

.header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #eddd88;
}

.auth button {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #675f3e;
    color: #191919;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth button:hover {
    background-color: #967d0a;
}

.login,.signup{
    
    color: #191919;

}